flows.json
[
    {
        "id": "function-temp",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "แยก temp",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "gauge-temp",
                "chart-temp"
            ]
        ]
    },
    {
        "id": "function-hum",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "แยก hum",
        "func": "msg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "gauge-hum",
                "chart-hum"
            ]
        ]
    },
    {
        "id": "gauge-temp",
        "type": "ui_gauge",
        "z": "8b300c4acb54ed3d",
        "name": "อุณหภูมิ",
        "group": "d9ea74cfac232de0",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "wave",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "gauge-hum",
        "type": "ui_gauge",
        "z": "8b300c4acb54ed3d",
        "name": "ความชื้น",
        "group": "d9ea74cfac232de0",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00bfff",
            "#60d0ff",
            "#0066cc"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "chart-temp",
        "type": "ui_chart",
        "z": "8b300c4acb54ed3d",
        "name": "กราฟอุณหภูมิ",
        "group": "d9ea74cfac232de0",
        "order": 8,
        "width": 11,
        "height": 5,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "ไม่มีข้อมูล",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff6600",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "chart-hum",
        "type": "ui_chart",
        "z": "8b300c4acb54ed3d",
        "name": "กราฟความชื้น",
        "group": "d9ea74cfac232de0",
        "order": 9,
        "width": 10,
        "height": 5,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "ไม่มีข้อมูล",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#3399ff",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "303b82c3f5b8f932",
        "type": "http response",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "876132fa4c4e9aee",
        "type": "http in",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "url": "/sensor",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "function-temp",
                "function-hum",
                "303b82c3f5b8f932",
                "89a053bbddf2e701"
            ]
        ]
    },
    {
        "id": "http_in_sensor",
        "type": "http in",
        "z": "8b300c4acb54ed3d",
        "name": "POST /sensor",
        "url": "/sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "function_store_sensor"
            ]
        ]
    },
    {
        "id": "function_store_sensor",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "Store Sensor Data",
        "func": "// เก็บ sensor data ใน context หรือ debug\nlet payload = msg.payload;\nnode.warn(payload); // แสดง debug\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "http_response_sensor",
                "debug_sensor"
            ]
        ]
    },
    {
        "id": "http_response_sensor",
        "type": "http response",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 480,
        "wires": []
    },
    {
        "id": "debug_sensor",
        "type": "debug",
        "z": "8b300c4acb54ed3d",
        "name": "Sensor Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "function_set_led",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "Set LED State",
        "func": "global.set(\"ledState\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 640,
        "wires": [
            [
                "debug_led"
            ]
        ]
    },
    {
        "id": "debug_led",
        "type": "debug",
        "z": "8b300c4acb54ed3d",
        "name": "LED State Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 650,
        "y": 640,
        "wires": []
    },
    {
        "id": "http_in_control",
        "type": "http in",
        "z": "8b300c4acb54ed3d",
        "name": "GET /control",
        "url": "/control",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "function_get_led"
            ]
        ]
    },
    {
        "id": "function_get_led",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "Return LED State",
        "func": "let ledState = global.get(\"ledState\") || \"OFF\";\nlet ton = global.get(\"ton\") || 30;\nlet toff = global.get(\"toff\") || 28;\nlet hon = global.get(\"hon\") || 70;\nlet hoff = global.get(\"hoff\") || 64;\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.payload = { led: ledState, \n                ton: ton,\n                toff: toff,\n                hon: hon,\n                hoff: hoff };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 560,
        "wires": [
            [
                "http_response_control"
            ]
        ]
    },
    {
        "id": "http_response_control",
        "type": "http response",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "f6d2288cefd4d20a",
        "type": "ui_switch",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "d9ea74cfac232de0",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 640,
        "wires": [
            [
                "function_set_led"
            ]
        ]
    },
    {
        "id": "74acdfd12a027f0c",
        "type": "ui_numeric",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "label": "Temp ON",
        "tooltip": "",
        "group": "d9ea74cfac232de0",
        "order": 4,
        "width": 3,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "28",
        "max": "35",
        "step": "0.2",
        "className": "",
        "x": 200,
        "y": 700,
        "wires": [
            [
                "51c69bf5415cfc9b"
            ]
        ]
    },
    {
        "id": "06b6f8ed62af3f9f",
        "type": "ui_numeric",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "label": "Hum ON",
        "tooltip": "",
        "group": "d9ea74cfac232de0",
        "order": 6,
        "width": 3,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "66",
        "max": "72",
        "step": "0.2",
        "className": "",
        "x": 200,
        "y": 820,
        "wires": [
            [
                "b075f2a5d3e485df"
            ]
        ]
    },
    {
        "id": "cce6835834f090b2",
        "type": "ui_numeric",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "label": "Temp OFF",
        "tooltip": "",
        "group": "d9ea74cfac232de0",
        "order": 5,
        "width": 3,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "26",
        "max": "31",
        "step": "0.2",
        "className": "",
        "x": 210,
        "y": 760,
        "wires": [
            [
                "6744e4e7528280ca"
            ]
        ]
    },
    {
        "id": "72771fe3b5727678",
        "type": "ui_numeric",
        "z": "8b300c4acb54ed3d",
        "name": "",
        "label": "Hum OFF",
        "tooltip": "",
        "group": "d9ea74cfac232de0",
        "order": 7,
        "width": 3,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "60",
        "max": "68",
        "step": "0.2",
        "className": "",
        "x": 200,
        "y": 880,
        "wires": [
            [
                "c446c55f8de88e48"
            ]
        ]
    },
    {
        "id": "51c69bf5415cfc9b",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "ton",
        "func": "global.set(\"ton\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 700,
        "wires": [
            [
                "12f4e73009991cda"
            ]
        ]
    },
    {
        "id": "6744e4e7528280ca",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "toff",
        "func": "global.set(\"toff\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 760,
        "wires": [
            [
                "9c623659ce15a638"
            ]
        ]
    },
    {
        "id": "b075f2a5d3e485df",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "hon",
        "func": "global.set(\"hon\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 820,
        "wires": [
            [
                "d87bcc4a453a82c2"
            ]
        ]
    },
    {
        "id": "c446c55f8de88e48",
        "type": "function",
        "z": "8b300c4acb54ed3d",
        "name": "hoff",
        "func": "global.set(\"hoff\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 880,
        "wires": [
            [
                "ed74c43054eabb05"
            ]
        ]
    },
    {
        "id": "12f4e73009991cda",
        "type": "debug",
        "z": "8b300c4acb54ed3d",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "9c623659ce15a638",
        "type": "debug",
        "z": "8b300c4acb54ed3d",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "d87bcc4a453a82c2",
        "type": "debug",
        "z": "8b300c4acb54ed3d",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 820,
        "wires": []
    },
    {
        "id": "ed74c43054eabb05",
        "type": "debug",
        "z": "8b300c4acb54ed3d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 880,
        "wires": []
    },
    {
        "id": "89a053bbddf2e701",
        "type": "debug",
        "z": "8b300c4acb54ed3d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 260,
        "wires": []
    },
    {
        "id": "d9ea74cfac232de0",
        "type": "ui_group",
        "name": "Home",
        "tab": "3278a476dfbab52a",
        "order": 1,
        "disp": true,
        "width": 21,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3278a476dfbab52a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bc5d66cccfa66c86",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
